/* ===== ABOUT US SECTION ==== */

.about_us {
  position: relative;
  background-color: var(--light);
  height: auto;
  /* display: none; */
}

.about_us .content {
  max-width: 75.625rem;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.about_us .header {
  justify-content: end;
  align-items: start;
  height: 5.625rem;
}

.link_about_us {
  justify-self: end;
  color: var(--green);
  border-bottom: 0.0625rem solid var(--green);
  margin-top: 46px;
  margin-right: 4.625rem;
}

.this_is_us {
  display: flex;
  flex-direction: column;
  max-width: 31.9375rem;
  width: 55%;
  height: 100%;
  margin-top: 5.0625rem;
  gap: 2.5rem;
}

.us_heading {
  width: 100%;
}

.us_text {
  width: 100%;
  height: auto;
}

.us_text_field {
  display: flex;
  flex-direction: row;
  margin-top: 21px;
  width: 100%;
  height: auto;
}

.fun_with_us {
  margin-left: 2.0625rem;
  margin-top: 0.25rem;
  max-width: 26.25rem;
  width: 100%;
  height: auto;
}

.bw_images {
  position: relative;
  width: 32.125rem;
  height: 36.625rem;
  margin-top: 3.9375rem;
  margin-right: -0.4375rem;
}

#picture_1,
#picture_2,
#picture_3 {
  position: absolute;
  width: 29.625rem;
  height: 34.125rem;
}

#picture_1 {
  top: 0;
  right: 2.5rem;
  z-index: 1;
}

#picture_2 {
  top: 1.4375rem;
  right: 1.25rem;
  z-index: 2;
}

#picture_3 {
  top: 2.6875rem;
  right: 0;
  z-index: 3;
}

.footer {
  box-sizing: content-box;
  margin: 0 auto;
  margin-top: clamp(2rem, 5.5vw, 5rem);
  padding-bottom: 5rem;
  max-width: 76.9375rem;
  width: 90%;
  height: 12.125rem;
}

.logo_empty {
  width: 5.75rem;
  height: 4.6875rem;
}

.devinband_links {
  display: flex;
  flex-wrap: wrap;
}

.devinband_section,
.allfred_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 1rem;
}

.devinband_links p {
  font-size: 1.25rem;
  line-height: 1.66rem;
}

.footer_link {
  font-family: 'Public Sans', serif;
  font-size: 1.25rem;
  line-height: 1.66rem;
  text-decoration: underline;
  color: var(--green);
}

.mini_arrow {
  margin: 0 0.625rem;
}

.last_section {
  margin-left: 1rem;
  margin-top: 1.125rem;
  display: flex;
  justify-content: space-between;
}

.menu {
  align-self: flex-end;
}

.main_menu,
.socials {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Public Sans', serif;
  font-size: 1.25rem;
  line-height: 1.66rem;
}

.main_menu_link {
  color: var(--dark);
}

.socials_link {
  color: var(--green);
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.newsletter_form {
  display: flex;
  margin-top: 0.625rem;
}

.newsletter_form .footer_link {
  margin-left: 1.25rem;
}

/* ========== RESPONSIVE ========= */

@media (orientation: landscape) and (max-width: 1350px) {
  .this_is_us {
    margin-top: 2rem;
  }

  .bw_images {
    margin-top: 1rem;
  }
}

@media (orientation: landscape) and (max-width: 1350px) {
  .bw_images {
    scale: 0.9;
  }
}

@media (orientation: landscape) and (max-width: 1140px) {
  .bw_images {
    margin: 0;
    margin-right: -3rem;
    scale: 0.8;
  }

  .this_is_us {
    margin-top: 3rem;
  }

  .us_heading {
    font-size: clamp(5.5rem, 10vw, 6.875rem);
    line-height: clamp(4.5rem, 8vw, 5.625rem);
  }

  .fun_with_us {
    margin-left: 1.4375rem;
  }

  .us_text_field {
    margin-top: 0;
  }
}

@media (orientation: landscape) and (max-width: 1100px) {
  .footer,
  .last_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer {
    height: auto;
    padding-bottom: 5rem;
  }

  .last_section {
    width: 96%;
    align-items: flex-start;
  }

  .newsletter {
    width: 100%;
    padding: 1.25rem 0;
    border-bottom: 0.125rem solid var(--dark);
    border-top: 0.125rem solid var(--dark);
  }

  .newsletter_form {
    margin: 0;
  }

  .menu {
    margin-top: 1.25rem;
    align-self: flex-start;
  }
}

@media (orientation: landscape) and (max-width: 1030px) {
  .bw_images {
    margin-top: -1rem;
    margin-right: -5rem;
    scale: 0.6;
  }

  .this_is_us {
    margin-top: 2.5rem;
    gap: 1.875rem;
  }

  .us_heading {
    font-size: clamp(5.5rem, 9vw, 6.5rem);
    line-height: clamp(4.5rem, 8.5vw, 5.5rem);
  }
}

@media (orientation: landscape) and (max-width: 850px) {
  .bw_images {
    margin-top: -3rem;
    margin-right: -7rem;
    scale: 0.5;
  }
}

@media (orientation: landscape) and (max-width: 760px) {
  .bw_images {
    margin-top: 4rem;
    margin-right: -7rem;
    scale: 0.45;
  }

  .footer {
    margin-top: -5rem;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  .about_us .content {
    flex-direction: column;
    align-items: center;
  }

  .this_is_us {
    height: auto;
    width: 65%;
    margin-top: 3rem;
  }

  .us_text {
    width: 100%;
  }

  .us_heading {
    font-size: clamp(5.5rem, 9vw, 6.5rem);
    line-height: clamp(4.5rem, 8.5vw, 5.5rem);
  }

  .us_text_field {
    margin-top: 0;
  }

  .bw_images {
    scale: 1;
    margin-top: 3rem;
  }

  .footer,
  .last_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer {
    height: auto;
  }

  .last_section {
    width: 96%;
    align-items: flex-start;
  }

  .newsletter {
    width: 100%;
    padding: 1.25rem 0;
    border-bottom: 0.125rem solid var(--dark);
    border-top: 0.125rem solid var(--dark);
  }

  .newsletter_form {
    margin: 0;
  }

  .menu {
    margin-top: 1.25rem;
    align-self: flex-start;
  }

  .footer_link {
    font-size: 1.25rem;
  }
}

@media (orientation: portrait) and (max-width: 850px) {
  .fun_with_us {
    margin-left: 0.5rem;
  }

  .bw_images {
    scale: 0.7;
    margin-top: -2rem;
  }

  .footer {
    margin-top: 0;
  }
}

@media (orientation: portrait) and (max-width: 650px) {
  .this_is_us {
    width: 80%;
  }

  .about_us .header {
    height: auto;
  }

  .link_about_us {
    margin-top: 1.5rem;
    margin-right: 2rem;
  }
}

@media (orientation: portrait) and (max-width: 550px) {
  .this_is_us {
    margin-top: 1.5rem;
    width: 85%;
  }

  .us_heading {
    font-size: clamp(4rem, 14.5vw, 5rem);
    line-height: clamp(4rem, 11.5vw, 4rem);
  }
}

@media (orientation: portrait) and (max-width: 465px) {
  .devinband_links p {
    font-size: 1.125rem;
    line-height: 1.66rem;
  }

  .footer_link:not(.newsletter_form .footer_link) {
    font-size: 1.125rem;
  }
}

@media (orientation: portrait) and (max-width: 430px) {
  .this_is_us {
    width: 95%;
    margin-top: 1rem;
  }

  .bw_images {
    scale: 0.6;
    margin-top: -3rem;
  }

  .footer {
    margin-top: -2rem;
    padding-bottom: 3.5rem;
  }
}
