/* ===== ABOUT TOOL SECTION ==== */
/* .about_tool {
  display: none;
} */
.about_tool > .left {
  background-color: var(--light);
  justify-content: center;
}

.about_tool > .right {
  background-color: var(--green);
  justify-content: center;
}

.about_your_job {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 31.9375rem;
  width: 75%;
  height: auto;
  gap: 2.5rem;
}

.circled_word {
  position: relative;
}

.circle_image {
  position: absolute;
  display: inline-block;
  width: 115%;
  height: auto;
  top: -0.8438rem;
  left: -.1875rem;
}

.arrow {
  margin-top: 1.6875rem;
  height: clamp(6rem, 7.85vw, 7.0625rem);
  width: auto;
}

.about_wosa {
  display: flex;
  flex-direction: column;
  max-width: 34.375rem;
  width: 85%;
  height: auto;
}

.wosa_picture {
  width: 46%;
  height: auto;
}

.wosa_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.wosa_details {
  display: flex;
  flex-direction: column;
}

.wosa_who {
  margin-top: .8125rem;
}

.wosa_achievements {
  margin-top: 1.5rem;
  margin-left: 1.25rem;
  max-width: 26.25rem;
  width: 100%;
}

.in_wosa {
  align-self: start;
  margin-top: 5.125rem;
  margin-left: 1.25rem;
}

/* ========== RESPONSIVE ========= */
@media (orientation: landscape) and (max-width: 1300px) {
  .left,
  .right {
    max-width: 80%;
  }

  .wosa_picture {
    width: clamp(10rem, 19.5vw, 15.875rem);
  }
}

@media (orientation: landscape) and (max-width: 1000px) {
  .about_your_job {
    gap: 2rem;
  }

  .arrow {
    margin-top: 1rem;
  }

  .wosa_achievements {
    margin-left: 0.625rem;
  }

  .in_wosa {
    margin-top: 2.5rem;
    margin-left: 0.625rem;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  .about_wosa {
    width: 65%;
    gap: 1.5rem;
  }

  .about_your_job {
    margin-top: 2.5rem;
  }

  .arrow {
    margin-top: 0;
    height: clamp(5rem, 7.85vw, 7.0625rem);
  }

  .wosa_picture {
    width: 40%;
  }

  .wosa_achievements {
    max-width: 100%;
    margin-top: 0;
  }

  .in_wosa {
    margin-top: 0;
  }
}

@media (orientation: portrait) and (max-width: 768px) {
  .about_wosa {
    width: 100%;
  }

  .about_your_job {
    margin-top: 2.5rem;
  }

  .arrow {
    margin-top: 0;
    height: clamp(2.5rem, 7vw, 6rem);
  }

  .wosa_picture {
    width: 40%;
  }

  .wosa_achievements {
    max-width: 100%;
    margin: 0;
  }

  .in_wosa {
    margin: 0;
  }
}

@media (orientation: portrait) and (max-width: 650px) {
  .about_your_job {
    gap: 1.5rem;
    width: 85%;
  }

  .about_wosa {
    width: 85%;
  }

  .wosa_picture {
    width: 37%;
  }

  .wosa_achievements {
    max-width: 100%;
    margin-top: 0;
  }

  .in_wosa {
    margin-top: 0;
  }
}

@media (orientation: portrait) and (max-width: 380px) {
  .about_wosa {
    gap: 0.875rem;
  }
}

/* QUERIES FOR SURFACE DUO (❁´◡`❁) */
@media (orientation: portrait) and (width: 540px) and (height: 720px) {
  .arrow {
    height: 3rem;
  }

  .about_your_job {
    gap: 1rem;
  }

  .wosa_picture {
    width: 40%;
  }

  .wosa_who {
    margin-top: 0.5rem;
  }

  .about_wosa {
    gap: 0.5rem;
  }
}
