:root {
  --light: rgba(242, 240, 228, 1);
  --green: rgba(129, 221, 119, 1);
  --blue: rgba(166, 201, 253, 1);
  --turquoise: rgba(145, 221, 238, 1);
  --dark: rgba(26, 26, 26, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

a,
h1,
h2,
h3 {
  font-family: 'Maison Neue Bold', serif;
  text-align: left;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 110px;
  line-height: 86px;
}

h2 {
  font-size: 60px;
  line-height: 60px;
}

h3 {
  font-size: 38px;
  line-height: 48px;
}

p {
  font-family: 'Public Sans', serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

button {
  font-family: 'Maison Neue Bold', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26.56px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

input,
textarea {
  font-family: 'Public Sans', serif;
  font-size: 14px;
  background-color: var(--light);
  resize: none;
}

input[type='checkbox'] {
  width: 17px;
  height: 17px;
  accent-color: green;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Public Sans', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.45px;
  text-align: left;
  color: var(--dark);
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  outline: none;
}

label {
  font-family: 'Public Sans', serif;
  font-size: 12px;
  line-height: 14.1px;
  font-weight: 400;
}

.link {
  font-size: 16px;
  line-height: 21.25px;
  text-align: right;
  color: var(--dark);
  border-bottom: 1px solid var(--dark);
  padding: 10px 0;
}

.link:hover {
  border-bottom: none;
}

.green {
  color: var(--green);
}

.light {
  color: var(--light);
}

.small {
  font-size: 16px;
  line-height: 23px;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.container {
  transform: scale(calc(100vw / 1440));
  transform-origin: top left;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  box-sizing: border-box;
  /* scroll-snap-stop: always; */
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left,
.right {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction {
  background: var(--light);
  outline: 20px solid var(--green);
  outline-offset: -20px;
}

.about_tool,
.upload_form,
.upload_in_process {
  display: flex;
  flex-direction: row;
}

/* ===== INTRODUCTION SECTION ==== */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.logo {
  margin-top: 40px;
  margin-left: 47px;
  text-decoration: none;
}

.link_introduction {
  margin-top: 48px;
  margin-right: 55px;
}

.heading {
  width: 508px;
  height: 433px;
  margin-top: 43px;
  margin-left: 115px;
  display: flex;
  align-items: end;
}

.texts {
  display: flex;
  flex-direction: column;
}

.text_field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 152px;
  margin-top: 71px;
  width: 528px;
  height: 274.96px;
}

.scratch {
  height: 44.96px;
  width: auto;
}

.text_content {
  margin-top: 3px;
}

.doodla {
  height: 140.69px;
  width: 285px;
  margin-left: 45px;
}

.scrolluj {
  width: 67.02px;
  height: 90.76px;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: calc(50% - (67.02px / 2));
  bottom: 80px;
}

.review {
  position: relative;
  color: var(--green);
  margin-left: 77px;
}

#review_1 {
  position: absolute;
  left: -70px;
  top: calc(-86px - 70px - 70px);
  color: var(--turquoise);
}

#review_2 {
  position: absolute;
  left: 0;
  top: calc(-86px - 70px);
}

#review_3 {
  position: absolute;
  left: 70px;
  top: -86px;
  color: var(--dark);
}

/* ===== ABOUT TOOL SECTION ==== */

.about_tool > .left {
  background-color: var(--light);
}

.about_tool > .right {
  background-color: var(--green);
}

.about_your_job {
  display: flex;
  flex-direction: column;
  width: 511px;
  height: 307px;
  margin-top: 176px;
  gap: 40px;
}

.your_job_heading {
  line-height: 61px;
}

.circled_word {
  position: relative;
}

.circle_image {
  position: absolute;
  width: 142.06px;
  height: 79.12px;
  top: -13.5px;
  left: -3px;
}

.arrow {
  margin: 0 auto;
  margin-top: 67px;
}

.about_wosa {
  display: flex;
  flex-direction: column;
  margin-top: 149.2px;
}

.wosa_picture {
  width: 254.37px;
  height: 252.86px;
}

.wosa_card {
  display: flex;
  align-items: center;
  align-self: center;
}

.wosa_details {
  display: flex;
  flex-direction: column;
}

.wosa_who {
  margin-top: 13px;
}

.wosa_achievements {
  margin-top: 24px;
  margin-left: 20px;
}

.in_wosa {
  align-self: start;
  margin-top: 82px;
  margin-left: 20px;
}

/* ===== UPLOAD FORM SECTION ==== */

#form {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

#form > .left,
#form > .right {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form > .left {
  background-color: var(--blue);
}

#form > .right {
  background-color: var(--light);
}

.form_heading {
  display: flex;
  align-items: center;
  line-height: 90px;
  margin-top: 117px;
}

.number_one_img {
  width: 68.53px;
  height: 60.2px;
  margin-right: 15px;
}

.number_two_img {
  width: 70.72px;
  height: 61.9px;
  margin-right: 15px;
}

.base_info,
.job_info {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin-top: 117px;
}

.base_info,
.job_info {
  gap: 40px;
}

.input {
  display: flex;
  flex-direction: column;
}

.input > input,
.input > textarea {
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
  padding-left: 30px;
}

.input > input {
  height: 56px;
  border: none;
}

.input > textarea {
  height: 264px;
  border: 2px solid var(--dark);
  padding-top: 20px;
}

.upload {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.upload_link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26.56px;
  height: 47px;
}

.upload_formats {
  font-family: 'Public Sans', serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14.1px;
  letter-spacing: 0.08em;
  margin-left: 21px;
  color: rgba(26, 26, 26, 0.6);
}

.job_description {
  width: 100%;
}

.terms_and_submit {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.terms_check {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.terms {
  margin-left: 15px;
  font-size: 14px;
  line-height: 16.45px;
}

.submit_btn {
  width: 205px;
  height: 100%;
  color: var(--dark);
  background-color: var(--green);
}

.right_arrow {
  position: absolute;
  height: 50.97px;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* ===== ABOUT US SECTION ==== */

.about_us {
  background-color: blue;
}
