/* ===== UPLOAD PROGRESS SECTION ==== */
#uploading_section,
#finish_section {
  display: none;
}

.upload_in_process > .left {
  background-color: var(--light);
  justify-content: center;
  width: 100%;
}

.upload_in_process > .right {
  background-color: var(--green);
  justify-content: center;
  width: 100%;
}

.upload_in_process {
  position: relative;
}

.thanks_section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 28rem;
  width: 60%;
  height: auto;
}

.big_scratch {
  width: 70%;
  max-width: 20.4431rem;
  height: auto;
  margin-top: 0.75rem;
  margin-left: -0.25rem;
}

.loading_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 28.125rem;
  width: 70%;
  height: auto;
}

.fly_me_to_devin {
  width: 100%;
  text-align: center;
  line-height: inherit;
}

.loading_img {
  width: 100%;
  height: auto;
  margin-top: 3.8125rem;
}

.wosa_msg {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 8rem;
  gap: 1.25rem;
}

.wosa_bubble {
  width: 4.25rem;
  height: auto;
}

.finish_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30.75rem;
  width: 70%;
  height: auto;
}

.final_wosa {
  width: 54%;
  height: auto;
  margin-top: -9.375rem;
}

.playbar {
  margin-top: 2.1875rem;
  width: 100%;
  height: auto;
}

.listen_later {
  margin-top: 2rem;
  width: 100%;
}

.listen_later p {
  width: 100%;
  height: 2.9375rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.downlink {
  font-family: 'Maison Neue Bold', serif;
  font-size: inherit;
  line-height: inherit;
  margin-left: 0.9375rem;
  padding-top: 0;
}

/* ========== RESPONSIVE ========= */
@media (orientation: landscape) and (max-width: 1070px) {
  .downlink {
    padding-top: 0.625rem;
    margin: 0;
  }

  .listen_later p {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
  }

  .loading_img {
    margin-top: 2.5rem;
  }

  .wosa_msg {
    margin-top: 4rem;
  }
}

@media (orientation: landscape) and (max-height: 560px) {
  .final_wosa {
    margin-top: -2rem;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  .finish_section {
    width: 50%;
  }

  .final_wosa {
    width: 30%;
    margin-top: 0;
  }

  .loading_img {
    width: 60%;
    margin: 0;
  }

  .downlink {
    padding-top: 0.625rem;
    margin: 0;
  }

  .listen_later p {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .wosa_msg {
    margin-top: 0;
  }

  .loading_section {
    gap: 2.5rem;
  }
}

@media (orientation: portrait) and (max-width: 650px) {
  .thanks_section,
  .loading_section,
  .finish_section {
    width: 70%;
  }
}

@media (orientation: portrait) and (max-width: 460px) {
  .loading_section {
    gap: 1.5rem;
    margin-top: -1rem;
  }

  .big_scratch {
    margin-top: 0;
  }

  .wosa_bubble {
    width: 10vw;
  }

  .playbar,
  .listen_later {
    margin-top: 1rem;
  }
}
